[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Tiberian Dawn
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Icon=openra-cnc
Exec=openra-cnc %U
Terminal=false
Categories=Game;StrategyGame;
StartupWMClass=openra-cnc-release-20250330
MimeType=x-scheme-handler/openra-cnc-release-20250330;x-scheme-handler/discord-699223250181292033;
